.row {
    display: flex;
}
  
.left {
    float: left;
    width: 20%;
}

.right {
    float: left;
    width: 100%;
}

.content {
    width: 85%;
    height: 1100px;
    color: black;
    background-color:#fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 8px;
}

.content1 {
  width: 85%;
  height: 1000px;
  color: black;
  background-color:#fff;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 8px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
}

.headingTextSelected {
    font-size: 22px;
    color: #000;
}

.headingTextNotSelected {
    font-size: 22px;
    color: #C4C4C4;
}

.content > p {
   margin: 50px;
}

.profileContent {
    margin-left: 30px;
}

.profileContent > p {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 35px;
    left: 70px;
}

.editIcon {
    width: 15px;
    height: 15px;
    color: #000;
    position: relative;
    top: 5px;
    left: 5px;
}

.input{
    border-radius: 10px;
    height:40px;
    margin: 0;
    padding:.5rem;
    width: 450px;
    border:1px solid rgb(235, 235, 235);
    align-items: center;
  }

  .textarea{
    border-radius: 10px;
    height:60px;
    margin: 0;
    padding:.5rem;
    width: 910px;
    border:1px solid rgb(235, 235, 235);
    align-items: center;
  }

  .profileInfoDiv {
    width: 952px;
    height: 750px;
    border: solid #CED9E899;
    padding: 15px;
    margin-top: 15px;
  }

  .changePasswordDiv {
    width: 952px;
    height: 370px;
    border: solid #CED9E899;
    padding: 15px;
    margin-top: 15px;
  }

  .loyaltyProgramDiv {
    width: 952px;
    height: 290px;
    border: solid #CED9E899;
    padding: 15px;
    margin-top: 15px;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
  }

  .titleDiv {
    display: flex;
    align-items: center;
    width: 950px;
    height: 50px;
    border: solid #CED9E899;
    background-color: #FFFBFB;
    position: relative;
    right: 15px;
    bottom: 15px;
  }

  .textInput{
    border-radius: 10px;
    height:40px;
    margin: 0;
    padding:.5rem;
    width: 915px;
    border:1px solid rgb(235, 235, 235);
    align-items: center;
  }

  .updateButton {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #eb332a;
    float: right;
  }

  .updateButtonMerchant {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #FCA311;
    float: right;
    cursor: pointer;
  }

  .error{
    color: #F00;
    display: flex;
    align-items: center;
    margin-top: .2rem;
    font-size: 12px;
    font-weight: bold;
  }

@media screen and (max-width: 600px) {
    .left {
      width: 100%;
    }
    .right {
        width: 100%;
    }
    .profileInfoDiv {
      width: 400px;
      height: 300px;
    }
    .content {
      height: 2500px;
      margin-left: 20px;
    }
    .content1 {
      margin-left: 20px;
    }
}